html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 8px;
  line-height: 1.2;
}

.app {
  max-width: 300px;
  margin-top: 1%;
  margin-left: 2%;
}

.header {
  margin-bottom: 10px;
}

.header .logo {
  display: block;
  width: 96px;
  height: 96px;
}

.clock {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

.clock .value {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.clock .icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.clock .icon.day {
  background-color: #ef7b00;
}

.clock .icon.night {
  background-color: #2459a7;
}

.lot {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.lot h2 {
  margin: 0 0 15px 0;
  line-height: 1;
}

.lot p {
  margin: 0 0 15px 0;
}

.lot .price {
  align-self: flex-end;
  margin-right: 4px;
  font-size: 1.4rem;
}

.lot.favorite {
  border-color: #ef7b00;
  background-color: rgba(205, 137, 95, 0.261);
}

button {
  cursor: pointer;
  background-color: rgba(218, 131, 78, 0.689);
  border: 1px solid #9d9fa2;
  color: #000;
  border-radius: 4px;
  padding: 8px 6px;
  font-size: 0.8rem;
  outline: none;
  align-self: flex-end;
}

.loading {
  padding: 15px;
  border-radius: 6px;
  background: #eee;
  text-align: center;
}
